<div class="carddemoBasicUsage" ng-controller="SeriesCtrl">
  <md-content>
    <md-card ng-repeat="series in seriesList.hoppin.seriesList.series" infinite-scroll="myPagingFunction()" infinite-scroll-distance="3">
      <md-card-content ng-click="episodes(series.seriesId)">
        <h2 class="md-title">{{series.title}}</h2>
        <p>
        </p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-raised md-primary">{{series.genreNames}}</md-button>
        <md-button>{{series.ratingAverage}}</md-button>
      </div>
    </md-card>
  </md-content>
</div>